<clr-modal [(clrModalOpen)]="modalOpen" (clrModalOpenChange)="onModalChange($event)">
    <h3 class="modal-title">Change Employee Reporting Line</h3>
    <div class="modal-body">
        <div>Reassign this employee to report to a new manager. Select the desired manager
            from the available options to update the reporting hierarchy in the organization chart.
        </div>
        <div class="oc-modal-sub-content">
            <span cds-text="semibold">Employee Name </span>
            <span cds-text="medium">{{empData.name}}</span>
        </div>
        <div class="oc-modal-sub-content">
            <span cds-text="semibold">Manager Name </span>
            <form clrForm #form>
                <clr-datalist-container>
                    <input clrDatalistInput placeholder="Select New Reporting Manager" name="Option" required
                        [(ngModel)]="vertical" />
                    <datalist>
                        <option *ngFor="let item of items" [value]="item"></option>
                    </datalist>
                    <clr-control-error>There was an error</clr-control-error>
                </clr-datalist-container>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalOpen = false">CANCEL</button>
        <button type="button" class="btn btn-primary" (click)="onAddEditEmployee()">CHANGE REPORTING</button>
    </div>
</clr-modal>