<div class="nav-wrapper">
    <div class="btn-group">
        <div class="radio btn">
            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-1" value="graph"
                (change)="updateView($event)" checked />
            <label for="btn-demo-radio-1"> ⛼ GRAPH VIEW</label>
        </div>
        <div class="radio btn">
            <input type="radio" name="btn-group-demo-radios" id="btn-demo-radio-2" value="grid"
                (change)="updateView($event)" />
            <label for="btn-demo-radio-2">▦ GRID VIEW</label>
        </div>
    </div>
</div>